body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home{
  background-color:#FFF7ED;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}
h1{
  text-align: center;
  font-style: italic;
  color: rgb(24, 23, 23);
  @media (max-width:332px) {
    font-size: 25px;
  }
}

span{
  font-size: 50px;
}
.tag{
  color:#268aa8;
  margin-bottom:-120px;
}

.logo{
  background-position-x: center;
  background-size: cover;
  background-image: url(../images/Rentit.png);

  @media (min-width:100px) and (max-width:379px) {
    width:220px;
    height: 220px;
  }

  @media (min-width:400px) {
    width:280px;
    height: 280px;
  }

  @media (min-width:600px) {
    width:400px;
  height: 400px;
  }

  @media (min-width:1000px) {
    width:450px;
  height: 450px;
  margin-top: -40px;
  }

 

}

.welcome-msg{
  @media (max-width:485px) {
    font-size: 25px;
    margin-bottom: 40px;
  }

  @media (min-width:100px) and (max-width:379px) {
    font-size: 20px;
    margin-bottom: 40px;
  }
}